body{
    background-image: url("backg.jpg");
    display: block;
    margin: 8px;
}
image{
    opacity: 0.7;
}
h1 {
    margin-left: 30%;
    display: block;
    color : white;

}
.names{
    color: cyan;
}
p{
    color: rgb(196, 146, 243);
    font-size: 200%;
    margin: 10% 30%;
    width: 100%;
    
}
